.bookItem {
   display: flex;
   width: 1000px;
   height: calc(100vh - 230px);
}

.imgBlock {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 45%;
   height: 100%;
   background-color: #eaeaea;
   overflow: hidden;
}

.imgBlock_img {
   height: 80%;
   box-shadow: 5px 5px 10px #00000050;
}

.descriptionBlock {
   height: 100%;
   width: 65%;
   box-sizing: border-box;
   padding: 30px;
   color: #a7a7a7;
   font-weight: 400;
}

.descriptionBlock_title {
   color: #000000;
   margin: 18.76px 0;
}

.descriptionBlock_author {
   text-decoration: underline;
}

.descriptionBlock_description {
   margin-top: 20px;
   padding: 10px;
   box-sizing: border-box;
   width: 100%;
   min-height: 200px;
   max-height: 250px;
   overflow: auto;
   border: 1px solid #a7a7a7;
   color: #000000;
}

.descriptionBlock_description::-webkit-scrollbar {
   background-color: rgba(0, 0, 0, 0);
   width: 5px;
}

.descriptionBlock_description::-webkit-scrollbar-thumb {
   background-color: #b1b1b1;
   border-radius: 10px;
}

.backBtn {
   position: absolute;
   top: 80px;
   left: 0;
   height: 100vh;
   width: calc((100vw - 1000px) / 2);
}

.backBtn:hover .backBtn_icon {
   opacity: 1;
}

.backBtn_icon {
   width: 40px;
   opacity: .5 ;
   transition: .3s;
}

@media screen and (max-width: 1120px) {

   .backBtn {
      display: none;
   }

}

@media screen and (max-width: 1000px) {

   .bookItem {
      width: 100vw;
      height: calc(100vh - 200px);
   }

}

@media screen and (max-width: 800px) {

   .bookItem {
      flex-direction: column;
      height: auto;
   }

   .imgBlock {
      width: 100%;
      height: 380px;
   }

   .descriptionBlock {
      width: 100%;
   }

}

@media screen and (max-width: 400px) {

   .descriptionBlock_title {
      font-size: 25px;
   }

}