.root {
   max-width: 1200px;
   margin: auto;
   padding: 0 20px;
}

.title {
   font-size: 30px;
   font-weight: 500;
}

.content {
   width: 800px;
   margin-top: 50px;
   white-space: pre-wrap;
   display: flex;
   flex-direction: column;
}

.big_picture {
   width: 700px;
   margin: 30px auto;
   border: 1px solid;
   padding: 10px;
}

.medium_picture {
   width: 500px;
   margin: 30px auto;
   border: 1px solid;
   padding: 10px;
}

.small_picture {
   box-sizing: border-box;
   width: 400px;
   margin: 30px auto;
   padding: 10px;
}

.link {
   margin: 0 5px;
   text-decoration: none;
   color: #499ad6;
}

.linePicture {
   display: flex;
   flex-wrap: wrap;
}

@media screen and (max-width: 820px) {
   
   .content {
      width: 100%;
   }

}  

@media screen and (max-width: 750px) {
   
   .big_picture {
      width: 100%;
      box-sizing: border-box;
   }

}  

@media screen and (max-width: 560px) {

   .medium_picture {
      width: 100%;
      box-sizing: border-box;
   }
   
}

@media screen and (max-width: 430px) {

   .small_picture {
      width: 100%;
      box-sizing: border-box;
      padding: 0;
   }
   
}