.root {
   display: flex;
   flex-direction: column;
   justify-content: center;
   width: 1200px;
   margin: auto;
   padding: 50px;
   min-height: 264px;
}

.btn {
   width: 181px;
   height: 41px;
   margin-top: 20px;
}

.title {
   margin-bottom: 20px;
   font-weight: 200;
}