.root {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border: 1px solid #f1f1f1;
   width: 700px;
   margin: auto;
   padding: 50px;
   min-height: 264px;
   /* height: 264px; */
}

.btn {
   width: fit-content;
}

textarea {
   margin: 20px;
}

.resolvedBlock {
   display: flex;
   flex-direction: column;
   justify-content: center;
}

.resolvedBlock_addBtn {
   width: fit-content;
   margin: 10px;
}

.resolvedBlock_toBlogListBtn {
   width: fit-content;
   margin: 10px;
}