.feedbackForm {
   display: flex;
   flex-direction: column;
   background-color: #333333;
   pointer-events: all;
   z-index: 3;
   margin: auto 0;
   width: 580px;
   box-sizing: border-box;
   padding: 80px 50px;
}

.feedbackForm_blueSmallLine {
   padding-bottom: 10px;
}

.titleFeedback {
   color: #ffffff;
   font-size: 30px;
   font-weight: 100;
   margin-bottom: 50px;
}

.feedbackForm_inputFeedback {
   margin-bottom: 15px;
}

.feedbackForm_textareaFeedback {
   margin-bottom: 30px;
}

.feedbackButtonConteiner_button {
   height: 43px; 
   width: 160px;
}

.feedbackButtonConteiner {
   display: flex;
   flex-direction: row-reverse;
}

@media screen and (max-width: 1200px) {
   
   .feedbackForm {
      margin-left: 20px;
   }

}

@media screen and (max-width: 1000px) {
   
   .feedbackForm {
      margin: 0 auto;
   }

}

@media screen and (max-width: 600px) {
   
   .feedbackForm {
      margin: 0;
      width: 100%;
   }

   .feedbackForm_inputFeedback {
      width: 100%;
   }

   .feedbackForm_textareaFeedback {
      width: 100%;
   }

}

@media screen and (max-width: 450px) {

   .feedbackForm {
      padding: 50px 30px;
   }

   .feedbackButtonConteiner_button {
      width: 100%;
      border-radius: 0px;
   }

}