.input {
   font-size: 32px;
   width: 100%;
   font-family: 'Open Sans', sans-serif;
   font-weight: 100;
   background-color: #ffffff;
   border: 1px solid;
   padding: 0;
}

.error_message {
   position: absolute;
   top: 115px;
   right: 20px;
   color: red;
}

.error {
   background-color: #ff9999;
}