.banner {
   display: flex;
   margin: 20px auto 0 auto;
   width: 1300px;
   height: 560px;
   color: #303030;
}

.tape_unit {
   position: relative;
   width: 1300px;
   height: 560px;
   background-color: #F8F8F8; 
}

.unit_bgImg {
   margin-top: 24px;
}

.unit_textSmall {
   position: absolute;
   top: 176px;
   left: 126px;
   margin: 0;
   font-family: 'Prata', serif;
   font-weight: 400;
   font-size: 20px;
   line-height: 20px;
}

.unit_textBig {
   position: absolute; 
   top: 226px;
   left: 126px;
   font-family: 'Prata', serif;
   font-weight: 400;
   font-size: 50px;
   line-height: 50px;
   margin: 0;
}

.unit_btn {
   box-sizing: border-box;
   position: absolute;
   top: 330px;
   left: 126px;
   font-family: 'Inter', sans-serif;
   font-weight: 500;
   font-size: 14px;
   line-height: 14px;
   color: #FFFFFF;
   padding: 20px 56px;
   border: none;
   background-color: #303030;
   transition: .3s;
   cursor: pointer;
}

.unit_btn:hover {
   background-color: #505050;
}

.unit_btn:active {
   background-color: #000000;
}

.unit_img {
   margin: 0 0 0 -4px;
}

@media screen and (max-width: 1300px) {

   .banner {
      width: 90%;
   }

   .tape_unit {
      width: 90vw;
      display: flex;
   }

   .unit_bgImg {
      width: 60%;
   }

   .unit_img {
      width: 40%;
   }

}

@media screen and (max-width: 1000px) {

   .unit_textBig {
      font-size: 40px;
   }

}

@media screen and (max-width: 940px) {

   .banner {
      width: 100%;
   }

   .tape_unit {
      width: 100vw; 
   }

}

@media screen and (max-width: 760px) {

   .unit_img {
      width: 50%;
      margin-left: 21px;
   }
   
   .unit_bgImg {
      display: none;
   }

   .tape_unit {
      justify-content: space-between;
      flex-direction: column;
      align-items: center;
   }

   .unit_textBig {
      position: static;
      margin: 10px 0;
   }

   .unit_textSmall {
      position: static;
   }

   .unit_btn {
      position: static;
      margin-bottom: 52px;
   }

}

@media screen and (max-width: 510px) {

   .unit_textBig {
      font-size: 30px;
   }

   .tape_unit {
      justify-content: center;
   }

}