.wrapper {
   position: relative;
   width: 480px;
   height: 49px;
   box-sizing: border-box;
   border: 2px solid #484848;
}

.wrapper__error {
   border: 2px solid #ff0000;
}

.inputFeedback {
   border: none;
   padding: 15px;
   width: 100%;
   height: 100%;
   box-sizing: border-box;
   font-family: 'Open Sans', sans-serif;
   background-color: #484848;
   color: #ffffff;
}
.inputFeedback:focus {
   outline: none;
}

.inputFeedback__inputError {
   background-color: #ff9999;
}

.inputErrorMessage {
   position: absolute;
   margin: auto;
   top: -9px;
   left: 10px;
   font-size: 13px;
   background-color: #FFFFFF;
   padding: 2px 3px;
   font-size: 10px;
   color: #ff0000;
   animation: .1s 3 errorMessage;
}

@keyframes errorMessage {

   0% {
      transform: translateX(0px)
   }

   50% {
      transform: translateX(10px)
   }

   100% {
      transform: translateX(0px)
   }

}