.root {
   display: flex;
   align-items: end;
}

.component1 {
   height: 7px;
   width: 2.2px;
   background-color: #C9C9C9;
}

.component2 {
   height: 15px;
   width: 2.2px;
   background-color: #C9C9C9;
   margin: 0 3px;
}

.component3 {
   height: 12px;
   width: 2.2px;
   background-color: #C9C9C9;
}