.root {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  align-items: center;
  background-color: #f5f5f7;
}

.notes {
  display: flex;
  flex-direction: column;
  width: 1000px;
  height: 95vh;
  margin: auto;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 5px 5px 20px rgb(0, 0, 0);
}

.header {
  min-height: 9%;
}

.content {
  display: flex;
  min-height: 91%;
  transition: .3s;
}

.collapseList {
  transform: translateX(-200px);
}

.textareaBig {
  width: 100%;
}

.active {
  display: flex;
}

.noActive {
  display: none;
}

.head {
  margin-bottom: 30px;
}

.footer {
  padding-top: 35px;
  margin-top: 30px;
  background-color: #f5f5f7;
}

@media screen and (max-width: 1000px) {

  .notes {
    width: 100vw;
    height: 100vh;
  }

  .content {
    width: calc(100% + 200px);
  }

}