.commentBlock {
   display: flex;
   flex-direction: column;
   margin-top: 50px;
}

.commentBlockTitle {
   font-size: 20px;
}

.btn {
   width: 160px;
   height: 40px;
   display: flex;
   justify-content: center;
}

.textarea {
   margin: 30px 0 30px;
   padding: 15px;
   width: 490px;
   height: 100px;
   font-family: 'Open Sans', sans-serif;
   resize: none;
   overflow: auto;
}

.commentUnit {
   border: 1px solid #ebebeb;
   margin: 10px 0;
   padding: 10px;
   width: 500px;
   position: relative;
}

.commentName {
   font-size: large;
}

.inputBlock {
   display: flex;
   flex-direction: column;
}

.commentInfoLine {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: right;
   height: 20px;
}

.date {
   padding: 3px 10px;
   background-color: #499ad6;
   border-radius: 10px;
   font-size: 10px;
   color: #ffffffff;
   position: absolute;
   top: 0;
   right: 10px;
}

.deleteBtn {
   display: flex;
   padding: 2px 7px;
   font-size: 12px;
   cursor: pointer;
   border: 1px solid #d64949;
   border-radius: 10px;
   color: #d64949;
}

.deleteBtn:hover {
   background-color: #d64949;
   color: #ffffffff;
   transition: 0.3s;
   text-decoration: underline;
}

.loaderBtn {
   height: 18px;
   width: 18px;
}

.loaderDelete {
   margin: auto;
}

.auth_link {
   text-decoration: underline;
   color: #499ad6;
   cursor: pointer;
   margin: 0 5px;
}

@media screen and (max-width: 560px) {

   .textarea {
      width: auto;
   }

}
