.root {
   margin: auto;
   max-width: 1200px;
   display: flex;
   flex-direction: column;
   margin-top: 80px;
}

.title {
   margin: 0 0 20px;
   font-family: 'Open Sans', sans-serif;
   font-weight: 100;
}

.img {
   float: left;
   width: 300px;
   height: 200px;
   padding: 0 10px 10px 0;
}

.commentBlock {
   display: flex;
   flex-direction: column;
   margin-top: 80px;
}

.commentBlockTitle {
   font-size: 20px;
}

.btn {
   width: fit-content;
}

.textarea {
   margin: 30px 0 30px;
   padding: 15px;
   width: 490px;
   height: 100px;
   font-family: 'Open Sans', sans-serif;
   resize: none;
   overflow: auto;
}

.commentUnit {
   border: 1px solid #ebebeb;
   margin: 10px 0;
   padding: 10px;
   width: 500px;
}

.commentName {
   font-size: large;
}

.date {
   display: flex;
   justify-content: flex-end;
   font-size: 10px;
}